body {
	background-color: #ebebeb;
}

.bg-active {
	background-color: #8ccbcb;
}
.bg-active:hover {
	background-color: #8ccbcb;
}

.bg-active.completed .task-item-info {
	color: currentColor;
}

.circle, .task-duedate, .task-title {
	pointer-events: none;
}

.task-item-info {
	text-align: left;
}

.completed .task-title {
	text-decoration: line-through;
}

.completed .task-item-info {
	color: darkgrey;
}

.completed .circle {
	color: forestgreen;
}